/node_modules
/public/hot
/public/storage
/sources/storage/*.key
/sources/storage/logs
/sources/vendor
/sources/node_modules
/.env*
!.env-example
.phpunit.result.cache
docker-compose.override.yml
!docker-compose.override.yml-example
docker-compose.stage.yml
docker-compose.prod.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.DS_Store
/.netbeans
